{{ partial "header.html" . }}

<p style="text-align:Center;">Some examples of my graphic design work.</p>

<section id="projectlist" class="printlist">
  <h2>Print</h2>
  {{ range first 10 .Data.Pages }}
  <ul>
    {{ if eq .Type "print"}}
      <li><a href="{{ .Permalink }}"><img src="/imgs/{{ .Params.imgfolder }}/square/{{ .Params.heroimg }}"><h3>{{ .Title }}</h3><p>{{ .Params.subtitle }}</p></a></li>
    {{ end }}
  </ul>
  {{ end }}
</section>

  
{{ partial "footer.html" . }}