/* @override 
	http://localhost:1313/css/styles.css */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	font-family: "Crimson Text",Georgia, serif;
	font-size: 1.4rem;
	line-height: 1.5em;
	max-width: 900px;
	margin: 10px auto;
	color: #4A4A4A;
}
a {
	text-decoration: none;
	color: #4C6F89;
}


/* ------------------------- HEADER -------------------------*/
header {
	border-bottom: 1px dashed #aaa;
	padding: 0px 0 20px 0;
	position: relative;
	text-align: center;
}
header:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 2px;
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #aaa;
}
header h2 {
	width: 100%;
	display: inline-block;
	margin: 0px .5em 0em 0;
	padding-top: 10px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 3.6rem;
	line-height: 1;
	color: #6f841c;
}
header h2 img {
	position: relative;
	top: 8px;
	left: -8px;
	width: 55px;
}
header h2 em {
	display: block;
	text-transform: lowercase;
	padding: 0 0 0 180px;
	text-indent: 0;
	letter-spacing: 0;
	font-size:3rem;
	line-height: 1;
	color: #666;
}

.home header {
	padding-top: 0;
	position: relative;
	left: -30px;
}
#homeheader img {
	width:100%;
}
/*
.home header h2 {
	font-size: 2.4rem;
	margin-top: 5px;
}
.home header h2 img {
	top: 14px;
}
header h2 em {
	font-size: 1.8rem;
}
*/


/* ------------------------- NAV -------------------------*/
nav {
	margin: 6px auto 50px;
	text-align: center;
	font-family: "Open Sans", Verdana, sans-serif;
}
nav a {
	display: inline-block;
	padding: 10px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #666;
	font-size: 1rem;
}
nav a:hover
{
	color: #4C6F89;
}
nav a.active {
	font-weight: bold;
	color: #788F1B;
}
nav a[href="/web/"] {
	display: none;
	}


/* ------------------------- HOME PAGE HEADER -------------------------*/
#homeheader {
	margin: 100px auto 150px;
	width: 355px;
}
#homeheader:hover {
	cursor: pointer;
}
#homeheader em {
	font-size: 2.1rem;
	line-height: 1.5;
	position: relative;
	top: 10px;
}
#homeheader dt {
	font-size: 8.4rem;
	line-height: .75;
	color: #6f841c;
}
#homeheader dt .eames {
	padding-left: 60px;
	display: block;
}
#homeheader dd {
	font-style: italic;
	font-size:2.1rem;
	line-height: 1;
	padding: 18px 0 0 0px;
}


/* ------------------------- CONTENT -------------------------*/
h1 { 
	font-weight: normal;
	font-style: italic;
	}
h2 {
	margin: 1em 0 .5em;
	font-weight: normal;
}
p {
	margin: 1em;
}



/* ------------------------- PROJECT THUMBS -------------------------*/
#projectlist {
text-align: center;
}	
#projectlist h2 {
	font-style: italic;
	margin-top: 4em;
	padding-top: .5em;
	font-weight: normal;
	font-size: 3.2rem;
	letter-spacing: -1px;
	border-top: 1px dashed #aaa;
	color: #6f841c;
}
#projectlist.printlist h2 {
	margin-top: 0px;
}
#projectlist h3 {
	font-weight: normal;
	margin: .5em 0 0;
	line-height: 1.1em;
}
#projectlist p {
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: .9rem;
	margin: 5px 0 0 00;
	color: #666;
	line-height: 1.4em;
}
#projectlist li {
	text-align: center;
	list-style: none;
	border-top: 1px dashed #aaa;
	padding: 1em;
}
#projectlist li a {
	font-size: 1.4rem;
	color: #333;
}
#projectlist li a img {
/*	border: 1px solid #ccc;*/
	border-radius: 150px;
	width: 300px;
	position: relative;
	border: 1px dotted #ccc;
	padding: 6px;
	margin: 0 auto;
}


/* ------------------------- PROJECT PAGE -------------------------*/
article {
	font-size: 1.4rem;
	line-height: 1.3;
}

/* ------ feature img ------- */
article #featureimg {
	position: relative;
	padding: 0 0 1em 2em;
	width: 50%;
	float: right;
	height: auto;
	overflow: hidden;
	text-align: center;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: .9rem;
	text-transform: uppercase;
}/*
article #featureimg:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: transparent url("/imgs/mask_monitor.gif") no-repeat right top;
}*/
article #featureimg:hover {
	cursor: pointer;
}
article img.hero {
	width:100%;
	position: relative;
	padding: 4px;
	border: 1px solid #ddd;
}

/* ------ info ------- */
article .employer {
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #777;
	margin: .5em 0;
	display: block;
	font-family: "Open Sans", Verdana, sans-serif;
	width: 49%;
	float: left;
}
article h1 {
	margin: 0 0 .5em;
	font-size: 2.1rem;
	line-height: 1.1em;
	font-weight: normal;
	font-style: normal;
	width: 49%;
	float: left;
	clear: left;
	color: #758C1B;
}

article #overview p {
	line-height: 1.3em;
	margin: 1em 0;
	clear: left;
}

/* ------ roles and tech ------- */
article #info {
	padding: 1em 0 0 .25em;
	font-family: "crimson text", Georgia, serif;
	clear: right;
}
article ul.tags {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	font-family: "Open Sans", Verdana, sans-serif;
}
article ul.tags strong {
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: .5px;
	font-size: 1.2rem;
	font-family: "crimson text", Georgia, serif;
}
article ul.tags li {
	margin-left: 1em;
	padding: .1em 0;
}

/* ------ project highlights ------- */
article #project_highlights {
	padding: .5em 1em;
	margin: 1em 0;
	background: #f5f5f5;
}
article #project_highlights h2 {
	padding:  0 0;
	font-weight: normal;
	margin: .25em 0 .5em;
}
article #project_highlights li {
	padding: 0 0 0 0;
	margin: 1em 0;
	list-style: none;
	color: #666;
	font-size: 1.2rem;
	clear: left;
	vertical-align: top;
}
article #project_highlights li img {
	width: 200px;
	float: left;
	margin: 0em 1em .5em 0;
	border: 1px solid #ddd;
}
article #project_highlights li h2 {
	font-size: 1.6rem;
	font-weight: normal;
	line-height: 1.3;
	padding-bottom: .=0em;
	font-family: "crimson text", Georgia, serif;
	color: #758C1B;
}
article #project_highlights li p {
	margin: 0em 0;
}

/* ------ project link ------- */
article .projectlink {
	text-transform: uppercase;
	font-size: 1rem;
	letter-spacing: .5px;
	text-align: right;
	display: block;
	background: #fff;
	position: relative;
	padding-right: 35px;
	font-family: sans-serif;
	clear: left;
	font-family: "Open Sans", Verdana, sans-serif;
}
article .projectlink:before {
	content: "";
	border-bottom: 1px dashed #aaa;
	position: absolute;
	left: 0;
	top: 10px;
	width: 83%;
	height: 1px;
}
article .projectlink:after {
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: -5px;
	background: url('/imgs/outarrow.svg') no-repeat left top;
}

/* ------ project nav ------- */
#projectnav {
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: .9rem; 
	width: 100%;
	background: #f5f5f5;
	padding: 10px 15px;
	margin: 20px 0;
	min-height: 40px;
	float: left;
}
#projectnav a {
		width: 49%;
}
.prevproj {
	float: left;
}
.nextproj {
	text-align: right;
	float: right;
}


/* ------------------------- ABOUT -------------------------*/




/* ------------------------- FOOTER -------------------------*/
footer {
	clear: both;
	border-top: 1px dashed #aaa;
	padding: 20px;
	position: relative;
	text-align: center;
	margin-top: 2em;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: .8rem;
}
footer:after {
	content: "";
	position: absolute;
	left: 0;
	top: 2px;
	width: 100%;
	height: 1px;
	border-top: 1px dashed #aaa;
}
footer a {
	font-size: .8rem;
}
footer .copyright {
}
footer .contactinfo {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}
footer .contactinfo a {
	color: #333;
}

/* ------------------------- UTILITIES -------------------------*/
.clear {
	clear: both;
	display: block;
}

.mfp-title {
	
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 1rem;
	margin-top: 5px;
}

.aside {
	background: #f5f5f5;
	padding: 20px 30px 10px;
	width:360px;
	float: right;
	margin: 0 0 1em 1em ;
	text-align: center;
	font-family: "Open Sans", Verdana, sans-serif;
	font-size: 1rem;
}

hr {
	height: 1px;
	border: none;
	border-bottom: 1px solid #ccc;
	font-size: 1px;
	margin: 10px 0;
	line-height: 1px;
}

/* ------------------------------------ RESPONSIVE STYLES -------------------------------------*/
@media screen and (max-width: 940px) {
    body {
    }
    #content {
    	margin:  0 40px;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin-top: 0px;
    }
    header {
    	position: relative;
    	left: -20px;
    }
    header h2 {
    	font-size: 2.4rem;
    	padding-top: 10px;
    }
	header h2 em {
    	font-size: 1.4rem;
    	padding: 0 0 0 140px;
    }
    header h2 img {
    	width: 40px;
    }
    #homeheader {
    	margin: 50px auto 80px;
    	width: 320px;
    }
    #homeheader dt {
    	font-size: 6.4rem;
    }
    #homeheader dd {
    	font-size: 2.1rem;
    	padding: 10px 0 0 0px;
    }
    
    nav {
    	margin: 6px auto 20px;
    }
    
    #projectlist li {
    	padding: 1em 0;
    }
    
    
    article h1 {
    	margin-top: 0;
    	font-size: 1.8rem;
    	float: none;
    	width: 100%;
    }
    article .employer {
    	font-size: .7rem;
    	width: 100%;
    	float: none;
    }
    article #featureimg {
    	float: none;
    	width: 100%;
    	padding: 0;
    	margin: 0;
    }
    article img.hero {
    	padding: 0;
    }
    article #info {
    	padding: 0em 0 0 .25em;
    	}
    article ul.tags {
    	width: 100%;
    	display: block;
    	padding: 0em 0 1em;
    	    }
    	 
    article #project_highlights {
    	background: transparent;
    	width: 100%;
    	padding: 0;
    	border-top: 1px dashed #ccc;
    }   
    article #project_highlights li h2 {
    	line-height: 1.1;
    	margin: 0;
    }
   article #project_highlights li img {
   	width: 40%;
   	float: right;
   	margin: 0 0 .5em .5em;
   }
    article #project_highlights li p {
    	margin: 0;
    }
    article .projectlink:before {
    	width: 53%;
    }
    
}