{{ partial "header.html" . }}

  <h1>{{ .Title }}</h1>

<section id="projectlist">
  {{ range first 10 .Data.Pages }}
  <ul>
    {{ if eq .Type "print"}}
      <li><a href="{{ .Permalink }}"><img src="/imgs/{{ .Params.imgfolder }}/square/{{ .Params.heroimg }}"><h3>{{ .Title }}</h3><p>{{ .Params.subtitle }}</p></a></li>
    {{ end }}
  </ul>
  {{ end }}
</section>

  
{{ partial "footer.html" . }}