{{ partial "header.html" . }}

<section id="homeheader">
<img src="/imgs/hi.gif" alt="Hi, I'm Nissa Eames, web designer and developer for over sixteen years">
<!--
<em>Hi, I&rsquo;m</em>
<dl>
	<dt><span class="nissa">Nissa</span> <span class="eames">Eames</span></dt>
	<dd>web designer &amp; developer<br>for over sixteen years</dd>
</dl>
-->
</section>

<section id="projectlist">
  <h2 id="work">Work</h2>
  {{ range first 10 .Data.Pages }}
  <ul>
    {{ if eq .Type "web"}}
      <li><a href="{{ .Permalink }}"><img src="/imgs/{{ .Params.imgfolder }}/square/{{ .Params.heroimg }}"><h3>{{ .Title }}</h3><p>{{ .Params.subtitle }}</p></a></li>
    {{ end }}
  </ul>
  {{ end }}
</section>

{{ partial "footer.html" . }}

<script>
$(document).ready(function() {

$('#homeheader').click(function() {
	window.location.assign("/about")
});

})
</script>