</div> <!-- /#content -->
<footer>
<p class="contactinfo"><a href="mailto:&#110;&#105;&#115;&#115;&#97;&#64;&#110;&#105;&#115;&#115;&#97;&#46;&#110;&#101;&#116;
">&#110;&#105;&#115;&#115;&#97;&#64;&#110;&#105;&#115;&#115;&#97;&#46;&#110;&#101;&#116;
</a> • <a href="tel:&#55;&#53;&#55;&#45;&#53;&#54;&#49;&#45;&#48;&#48;&#50;&#51;">&#55;&#53;&#55;&#45;&#53;&#54;&#49;&#45;&#48;&#48;&#50;&#51;</a> • Williamsburg, Virginia</p>
<p class="copyright">&copy; <script>document.write(new Date().getFullYear())</script> Nissa Eames</p>
</footer>
</body>
</html>