<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
	<meta charset="utf-8">
	<title>{{ .Title }} : Nissa Eames Portfolio : Web Designer &amp; Developer</title>
	<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
	<meta name="keywords" content="{{ delimit .Keywords  "," }}">
	<meta name="author" content="{{ .Site.Params.author }}">
	{{ .Hugo.Generator }}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="{{ "js/main.js" | absURL }}"></script>
	<script src="{{ "js/magnificentpopup.min.js" | absURL }}"></script>
	
	<link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i|Open+Sans:400,600" rel="stylesheet">
	<link rel="stylesheet" href="{{ "/css/styles.css" | absURL }}" type="text/css">
	<link rel="stylesheet" href="{{ "/css/magnific-popup.css" | absURL }}" type="text/css">

</head>
<body {{ if (.IsHome)  }}class="home"{{ end }}>
<header>
	<a href="/"><h2><img src="/imgs/circleN.svg">Nissa Eames <em>Web Designer &amp; Developer</em></h2></a>
</header>
<!-------- header nav --------->	
<nav>
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
    <a class="sidebar-nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
    {{ end }}
</nav>

<div id="content">