{{ partial "header.html" . }}

{{ $imgfolder :=  .Params.imgfolder }}

<article>
  
  <span class="employer">{{ .Params.employer }}</span>
  <h1>{{ .Title }}</h1>
    
  <div id="featureimg">
	  <img class="hero" src="/imgs/{{ .Params.imgfolder }}/square/{{ .Params.heroimg }}">
	  <br>Open gallery
  </div>
  
    <div id="overview">
    {{ .Content }}
  

    {{ with .Params.awards }}<p><em> <strong>Awards: </strong>{{ . }}</em></p>{{ end }}
    </div>
  
<section id="info">
{{ if isset .Params "roles" }}
  <ul id="roles" class="tags"><strong>Roles</strong>
  {{ range .Params.roles }}
    <li>{{ . }}</li>
  {{ end }}
</ul>
  {{ end }}
  
{{ if isset .Params "technologies" }}
  <ul id="tech" class="tags"><strong>Technologies</strong>
  {{ range .Params.technologies }}
    <li>{{ . }}</li>
  {{ end }}
</ul>
  {{ end }}
   
</section>

<div  id="project_highlights">
<h2>Highlights</h2>
<ul>
{{ range .Params.project_highlights }}
  <li>
    <a href="/imgs/{{ $imgfolder }}/lg/{{ .src }}" class="highlight-gallery" title="{{ .title }}"><img src="/imgs/{{ $imgfolder }}/square/{{ .src }}"></a>
    <h2>{{ .title }}</h2>
    <p>{{ .text }}</p>
    <span class="clear"></span>
  </li>
{{ end }}
</ul>
</div>

<a href="{{ .Params.projecturl }}" class="projectlink" target="_blank">Visit site</a>

<div id="projectnav">
{{if .NextInSection}}<a href="{{.NextInSection.Permalink}}" class="prevproj">Previous: <strong>{{.NextInSection.LinkTitle}}</strong></a>{{end}}
{{if .PrevInSection}}<a href="{{.PrevInSection.Permalink}}" class="nextproj">Next: <strong>{{.PrevInSection.LinkTitle}}</strong></a>{{end}}
</div>

</article>
  
{{ partial "footer.html" . }}
  
<script>
$(document).ready(function() {

//override popup next/prev arrow functions to prevent looping
    $.magnificPopup.instance.next = function() {    
        // if index is not last, call parent method
        if($.magnificPopup.instance.index < $.magnificPopup.instance.items.length - 1) {
            // You may call parent ("original") method like so:
            $.magnificPopup.proto.next.call(this /*, optional arguments */);
        }
    };
    $.magnificPopup.instance.prev = function() {
        // if index is not first, call parent method
        if($.magnificPopup.instance.index > 0) {
            // You may call parent ("original") method like so:
            $.magnificPopup.proto.prev.call(this /*, optional arguments */);
        }
    };

    $.magnificPopup.instance.toggleArrows = function() {
        // if index is not last, show the Next-Image Arrow Button:
        if($.magnificPopup.instance.index < $.magnificPopup.instance.items.length - 1) {
            $(".mfp-arrow-right").show();
        }
        // if index is last, hide the Next-Image Arrow Button:
        if($.magnificPopup.instance.index == $.magnificPopup.instance.items.length - 1) {
            $(".mfp-arrow-right").hide();
        }

        // if index is not first, show the Previous-Image Arrow Button:
        if($.magnificPopup.instance.index > 0) {
            $(".mfp-arrow-left").show();
        }
        // if index is first, hide the Previous-Image Arrow Button:
        if($.magnificPopup.instance.index == 0) {
            $(".mfp-arrow-left").hide();
        }
    };

    $.magnificPopup.instance.updateItemHTML = function() {
        $.magnificPopup.instance.toggleArrows();
        // You may call parent ("original") method like so:
        $.magnificPopup.proto.updateItemHTML.call(this /*, optional arguments */);
    };


$('.highlight-gallery').magnificPopup({
    gallery: {
      enabled: true
    },
    type:'image',
    titleSrc: 'title'
 });

$('#featureimg').magnificPopup({
    items: [
      {{ if isset .Params "galleryimg" }}
	  	{{ range .Params.galleryimg }}
	  		{ 
	  			src: '/imgs/{{ $imgfolder }}/lg/{{ .src }}',
	  			title: '{{ .caption }}'
	  		},
	  	 {{ end }}
	  {{ end }}
    ],
    gallery: {
      enabled: true
    },
    type: 'image' // this is default type
});

})
</script>